# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Large data files (customize as needed)
data/
datasets/
*.csv
*.zip



# IDE/editor
.vscode/


